@font-face {
  font-family: "iconfont"; /* Project id 3728250 */
  src: url('/static/font/iconfont.ttf?t=1711175728548') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiesuo:before {
  content: "\e62f";
}

.icon-kaishishijian:before {
  content: "\e68a";
}

.icon-jiesuanfangshi:before {
  content: "\e6cf";
}

.icon-icon_dashboard_release:before {
  content: "\e96f";
}

.icon-record:before {
  content: "\e6a1";
}

